.landing_container {
  float: left;
  width: 100%;
  min-height: 100vh;
  background: var(--blanco);

  .side_menu {
    width: 380px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    border-right: 2px solid #eee;
    background: var(--blanco);

    @include to(m) {
      float: left;
      width: 100%;
      height: auto;
      border-right: none;
      border-bottom: 2px solid #eee;
    }

    .spacer_container {
      height: 100%;
      display: flex;
      padding: 80px 40px;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      @include to(m) {
        padding: 10px;
        flex-direction: column;
      }

      .list_categories_menu {
        margin: 0;
        padding: 0;
        list-style: none;

        @include to(m) {
          float: left;
          width: 100%;
          display: flex;
          max-width: 100%;
          gap: 10px;
          overflow-y: hidden;
          overflow-x: auto;
        }

        .item_menu__list {
          margin: 10px 0;
          text-align: center;
          font-size: var(--dash-small);
          font-weight: var(--font-semi-bold);

          @include to(m) {
            flex: none;
            white-space: nowrap;
          }
        }

      }
    }
  }

  .main_container__projects {
    padding-left: 380px;

    @include to(m) {
      padding-left: 0;
      padding-top: 175px;
    }

    .spacer_items__landing {
      padding: 85px 75px;

      @include to(m) {
        padding: 10px;
      }

      .title_medals {
        color: var(--marron);
        font-size: var(--dash-bigger);
        font-weight: var(--font-bold);
      }

      .item_card_project {
        position: relative;

        .item_medal {
          float: right;
          width: 60px;
          height: 60px;
          background-size: contain !important;

          position: absolute;
          top: -8px;
          right: -15px;

          &.gold {
            background: url('../img/primero.svg') no-repeat center;
          }

          &.silver {
            background: url('../img/segundo.svg') no-repeat center;
          }

          &.bronze {
            background: url('../img/tercero.svg') no-repeat center;
          }
        }
      }
    }

    .item_lading_proyect {
      border: 1px solid var(--gris);

      iframe {
        border: none;
      }

      .item_description__landing {
        float: left;
        width: 100%;
        margin-top: 10px;
        padding-left: 35px;

        h1 {
          margin: 0;
          color: var(--negro);
          font-size: var(--dash-big);
          font-weight: var(--font-semi-bold);
        }

        small {
          color: #6d6d6d;
          font-size: var(--dash-small);
          margin-top: 5px;
        }
      }
    }
  }
}
