.info_member {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .name_member {
    text-align: center;
    margin: 0;
    font-size: var(--dash-big);
    font-weight: var(--font-semi-bold);
  }

  .role_member {
    color: var(--negro);
    margin: 15px 0;
    font-size: var(--dash-small);
    font-weight: var(--font-semi-bold);
    background: transparent;
    transition: all .2s ease;
    border: 1px solid var(--negro);

    &:hover {
      color: var(--blanco);
      background: var(--negro);
    }
  }

  .frase_member {
    margin: 0;
    line-height: 2;
    text-align: center;
    color: var(--negro);
    font-size: var(--dash-small);
    font-weight: var(--font-regular);
  }

}
