body, html, app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: var(--dash-normal);
  font-family: var(--font-main) !important;
  background: var(--gris);
}

.main_container {
  width: 100%;
  padding-top: 70px;

  @include to(m) {
    padding: 61px 0;
  }
}
