<div class="landing_container">
  <div class="side_menu">
    <div class="spacer_container">
      <img src="assets/img/logo-udeo.png" alt="Logo UdeO">

      <ul class="list_categories_menu">
        <li class="item_menu__list">Todas</li>
        <li class="item_menu__list">Robótica</li>
        <li class="item_menu__list">Electrónica</li>
        <li class="item_menu__list">Programación</li>
        <li class="item_menu__list">Física y Matemática</li>
        <li class="item_menu__list">Redes</li>
      </ul>

      <div class="shared_footer"></div>

    </div>
  </div>

  <div class="main_container__projects">
    <div class="spacer_items__landing">
      <div class="ed-grid s-grid-1 m-grid-2">
        <article class="item_lading_proyect" *ngFor="let item of [0,1,2,3,4,5]">
          <div class="ed-video">
            <iframe src="https://www.youtube.com/embed/Wop0_G4L_uQ"></iframe>
          </div>
          <div class="item_description__landing">
            <h1>Proyecto Demo</h1>
            <small>Róbotica</small>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
