<section class="l-section s-py-4 bg_banner_list">
  <div class="ed-grid lg-grid-2 row-gap s-gap-2 m-gap-4 m-cross-center">
    <div class="s-column s-main-center lg-main-start lg-cross-start s-center lg-left">
      <h1>Máquina de Goldberg</h1>
      <p>Categoría:</p>
      <p>Horario:</p>
      <p>Compartir:</p>

      <h2>¿Que te parecio el proyecto?</h2>
    </div>

    <div>
      <div class="img-container s-ratio-16-9">
        <img class="s-radius-1" src="assets/img/banner-projects.jpg">
      </div>
    </div>
  </div>
</section>
