<section class="l-section s-py-4 bg_banner_list">
  <div class="ed-grid lg-grid-2 row-gap s-gap-2 m-gap-4 m-cross-center">
    <div class="s-column s-main-center lg-main-start lg-cross-start s-center lg-left">
      <h1>Máquina de Goldberg</h1>

      <p class="time_event" title="Horario del Proyecto">09:00 - 09:45 AM</p>
      <p class="category_event" title="Categoría del Proyecto">Electrónica y Programación</p>
      <p class="live_event" title="Live del Proyecto"><a href="#" target="_blank">Link evento</a></p>
      <p>Compartir por:</p>
      <share-buttons [theme]="'outline'"
                     [show]="4"
                     [showText]="false"
                     [include]="['facebook','twitter','whatsapp','copy']"></share-buttons>

      <h2>¿Que te parecio el proyecto?</h2>
      <div class="container_voutes">
        <div class="item_voute">
          <img src="assets/img/meencanta.png" alt="Mejor Proyecto">
          ¡Me encanta!
        </div>
        <div class="item_voute">
          <img src="assets/img/estabien.png" alt="Buen proyecto">
          Está bien
        </div>
        <div class="item_voute">
          <img src="assets/img/mejorar.png" alt="prodria mejorar">
          Podría mejorar
        </div>
      </div>
    </div>

    <div>
      <div class="img-container s-ratio-16-9">
        <img class="s-radius-1" src="assets/img/banner-projects.jpg">
      </div>
    </div>
  </div>
</section>
